/*
Gradients from https://cssgradient.io/
Triangles from https://marcbruederlin.github.io/particles.js/
*/

* {
    box-sizing: border-box;
}

body {
    /*
    References:
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_example_website
    */
    font-family: 'Shippori Antique', sans-serif;
    background-color: #FCF7F8;
    margin: 0px;
    overflow-x: hidden;
}

.sparklyBg {
    position: absolute;
    top: 0px;
    left: 0px;
    animation-name: sparkle-fade-in;
    animation-duration: .5s;
}

@keyframes sparkle-fade-in {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

.website-head {
    /*
    References:
    https://css-tricks.com/clipping-masking-css/
    */
    padding: 50px;
    position: relative;
    background: rgb(10,18,42);
    background: linear-gradient(315deg, rgba(10,18,42,1) 0%, rgba(219,22,47,1) 100%);
    color: #FCF7F8;
    top: 0px;
    left: 0px;
    display: none;
    text-align: center;
    width: 100%;
    clip-path: polygon(0% 0%, calc(100% - 55px) 0%, 100% calc(55px), 
    100% 100%, calc(55px) 100%, 0% calc(100% - 55px));
    animation-name: head-load-animation;
    animation-duration: .5s;
}

@keyframes head-load-animation {
    0% {clip-path: polygon(0% 0%, calc(100%) 0%, 100% calc(0px), 
        100% 100%, calc(0px) 100%, 0% calc(100%));}

    100% {clip-path: polygon(0% 0%, calc(100% - 55px) 0%, 100% calc(55px), 
        100% 100%, calc(55px) 100%, 0% calc(100% - 55px));}
}

.website-head h1 {
    font-size: 45px;
    font-style: bold;
}

.navigation-bar {
    background-color: transparent;
    height: 35px;
    width: 100%;
    top: 0px;
    z-index: 99;
    display: none;
    flex-direction: column;
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: #FCF7F8;
}

.navigation-bar-border {
    height: 100%;
    width: 100%;
    top: 0px;
    border: 5px solid #FCF7F8;
    position: absolute;
    left: 0px;
}

.navigation-bar a {
    background-color: rgba(105,109,125, 0.95);
    color: #FCF7F8;
    text-decoration: none;
    height: 35px;
    font-size: 16px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 12px;
    padding-left: 20px;
    position: relative;
}

.navigation-bar a.r {
    right: 0px;
}

.navigation-bar a.not-current:hover {
    animation-name: link-hover-animation;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    background-color: rgba(252,247,248, 0.7);
    color: #696D7D;
}

.navigation-bar a.current:hover {
    color: #696D7D;
}

.navigation-bar a.current {
    background-color: #FCF7F8;
    color: #696D7D;
}

.navigation-bar a.not-current {
    animation-name: link-hover-animation-reverse;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
}

@keyframes link-hover-animation {
    /*
    References:
    https://www.w3schools.com/css/css3_animations.asp
    */
    0% {background-color: rgba(105,109,125, 0.95); color: #FCF7F8;}
    100% {background-color: rgba(252,247,248, 0.7); color: #696D7D;}
}

@keyframes link-hover-animation-reverse {
    0% {background-color: rgba(167, 51, 74, 0.7); color: #696D7D;}
    100% {background-color: rgba(105,109,125, 0.95); color: #FCF7F8;}
}

.left-main {
    background-color: #FCF7F8;
    display: flex;
    position: relative;
    flex: 30%;
    color: #0A122A;
    clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% calc(30px), 
    100% 100%, calc(30px) 100%, 0% calc(100% - 30px));
    align-items: center;
    justify-content: center;
}

.left {
    display: flex;
    position: relative;
    flex: 30%;
    color: #FCF7F8;
    background-color: #DB162F;
    clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% calc(30px), 
    100% 100%, calc(30px) 100%, 0% calc(100% - 30px));
    align-items: center;
    justify-content: center;
}

@keyframes fade-in {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes shrink {
    0% {width: 100%;
        clip-path: polygon(0% 0%, calc(100% - 0px) 0%, 100% calc(0px), 
        100% 100%, calc(0px) 100%, 0% calc(100% - 0px));}
    100% {width: 30%;
        clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% calc(30px), 
        100% 100%, calc(30px) 100%, 0% calc(100% - 30px));}
}

@keyframes shrink-large {
    0% {width: 100%;
        clip-path: polygon(0% 0%, calc(100% - 0px) 0%, 100% calc(0px), 
        100% 100%, calc(0px) 100%, 0% calc(100% - 0px));}
    100% {width: 20%;
        clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% calc(30px), 
        100% 100%, calc(30px) 100%, 0% calc(100% - 30px));}
}

.row-header {
    display: none;
    width: 30%;
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% calc(30px), 
    100% 100%, calc(30px) 100%, 0% calc(100% - 30px));
    animation-name: shrink;
    animation-duration: .5s;
    opacity: 0;
}

.left-red {
    background-color: #DB162F;
    color: #FCF7F8;
}

.left-white {
    background-color: #FCF7F8;
    color: #0A122A;
}

.right {
    position: relative;
    flex: 70%;
    padding: 15px;
}

h2 {
    font-size: 30px;
    font-style: bold;
    text-align: center;
    vertical-align: middle;
    text-align: center;
}

.row {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgb(251,139,36);
    opacity: 100%;
    position: relative;
    animation-name: fade-in;
    animation-duration: .5s;
}

@media screen and (min-width: 440px) {
    .navigation-bar a {
        padding: 5px 10px;
        width: auto;
        height: 100%;
        clip-path: polygon(0% 0%, calc(100% - 10px) 0%, 100% calc(10px), 
        100% 100%, 0% 100%, 0% 100%);
    }

    .navigation-bar {
        position: sticky;
        top: 0px;
        flex-direction: row;
        height: 35px;
    }

    [class*="link-chop"] {
        display: inline;
    }
}

@media screen and (min-width: 700px) {
    .row {
        flex-direction: row;
    }
    .row-header {
        opacity: 1;
    }
}

@media screen and (min-width: 1200px) {
    .right {
        padding-right: 20%;
    }
}

@media screen and (min-width: 1700px) {
    .left-main {
        flex: 20%;
    }
    .left {
        flex: 20%;
    }
    .right {
        flex: 80%;
        padding-right: 40%;
    }
    .row-header {
        animation-name: shrink-large;
        width: 20%;
    }
}